.menu-bar {
    display: flex; 
    justify-content: space-between;
    background-attachment: fixed;
    margin: fixed;
    padding: 1%;
    background-color: rgb(248, 252, 9);
    
    

}

body {
    
    background-image: linear-gradient(to right, rgb(46, 209, 155), rgb(50, 77, 64));
    font-style: oblique;

}

#jsTbl {
    width: 1300px;
    height: 500px;

}