.backgroundmotion {
    background-image: url("salmon.png");
    animation: forwards;
    animation-duration: 15s;
    background-repeat: repeat;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: fixed;
    animation-name: drown;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes drown {
    0% {
        left: 25%;
    }

    25% {
        left: 50%;
    }

    50% {
        left: 75%;
    }

    75% {
        left: 100%;
    }
    100% {
        left: 0%;
    }
}

