.backgroundmotion {
    background-image: url("salmon.png");
    animation: forwards;
    animation-duration: 15s;
    background-repeat: repeat;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: fixed;
    animation-name: drown;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes drown {
    0% {
        left: 0%;
    }

    25% {
        left: 25%;
    }

    50% {
        left: 50%;
    }

    75% {
        left: 75%;
    }
    100% {
        left: 100%;
    }
}

.menu-bar {
    display: flex; 
    justify-content: space-between;
    background-attachment: fixed;
    margin: fixed;
    padding: 1%;
    background-color: rgb(4, 17, 88);
}

.text {
    column-count: 2;
    column-gap: 30px;
    columns: 2;
    font-size: x-large;
    margin: auto;

}

body {
    border-image: url("cartoon-style-bart-simpson-character-african-dreadlocks-cartoon-style-bart-simpson-character-african-dreadlocks-252015227.jpg");

}